---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg'
---

<footer>
  <div>
    <span class="logo-container">
      <Image class="logo" src={logo} width={40} alt="circuit board house logo"/>
      <span>WebDev Town</span>
    </span>
  </div>
  <div class="links">
    <a href="/privacy">Privacy Policy</a>
    <a href="/sponsorship">Sponsorship</a>
    <a href="/about">About</a>
  </div>

  <!-- <div class="twitter">
    created by <a href="https://twitter.com/wweb_dev" target="_blank" rel="noopener noreferrer">@wweb_dev</a>
  </div> -->
</footer>
<style>
  footer {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
  }
  .logo {
    margin-right: 1em;
  }
  .links a, .twitter {
    text-decoration: none;
    display: block;
    font-size: 0.8em;
  }
</style>