---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---
<nav>
  <a class="logo-container" href="/">
    <Image class="logo" src={logo} width={40} alt="circuit board house logo"/>
    <h1>WebDev Town</h1>
  </a>
  <div class="menu">
    <a href="/explore">Explore</a>
    <a href="/submit" class="submit">Submit Resource</a>
  </div>
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .logo-container {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  .logo-container:hover {
    opacity: 1;
  }
  .logo {
    margin-right: 1em;
  }
  h1 {
    font-size: 1em;
    margin: 0;
  }

  .menu a {
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 0.7em;
    color: #fff;
  }

  a.submit {
    padding: .5em;
    border: 1px solid var(--accent-light);
    border-radius: .5em;
    color: var(--accent-light);
  }

  @media screen and (max-width: 450px) {
    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.3em;
    }

    a.submit {
      padding: .3em;
    }

    .menu a {
      margin: 0;
    }
  }
</style>