---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---
<nav>
  <a class="logo-container" href="/">
    <Image class="logo" src={logo} width={40} alt="circuit board house logo"/>
    <h1>WebDev Town</h1>
  </a>
  <div class="menu">
    <a href="/submit" class="submit">Submit Resource</a>
  </div>
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  .logo-container {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  .logo {
    margin-right: 1em;
  }
  h1 {
    font-size: 1em;
    margin: 0;
  }

  .menu a {
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 0.7em;
  }

  .submit {
    padding: .5em;
    border: 1px solid var(--accent-light);
    border-radius: .5em;
  }
</style>