<div id="mlb2-7038689" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-7038689">
  <div class="ml-form-align-center">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <div class="ml-form-embedContent" style="">
          <p>Never miss a useful website again. Join <span class="text-gradient">600+</span> devs and receive a <u>weekly</u> summary straight into your inbox.</p>
        </div>
        <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/459944/forms/96558295907567305/subscribe" data-code="r2f1v0" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
              </div>
            </div>
          </div>
          <div class="ml-form-embedSubmit">
            <button type="submit" class="button">Subscribe</button>
            <button disabled="disabled" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
          </div>
          <input type="hidden" name="ml-submit" value="1">
          <input type="hidden" name="anticsrf" value="true">
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display:none">
        <div class="ml-form-successContent">
          <h4>Successfully subscribed!</h4>
          <p>Thanks for joining the newsletter! To receive the weekly emails, please confirm your subscription.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  h4 {
    margin-bottom: 0.5em;
  }
  .ml-subscribe-form {
    margin: 1rem 0 2rem;
  }

  .ml-subscribe-form p {
    margin: 0 0 1em;
    opacity: 0.75;
    font-size: 0.8em;
    max-width: 500px;
  }

  form {
    display: flex;
  }

  .ml-form-formContent {
    width: 50%;
    min-width: 200px;
    margin-right: 0.5em;
  }

  @media (max-width: 400px) {
    .ml-form-formContent {
      min-width: 150px;
    }
	}
</style>
<script is:inline>
  function ml_webform_success_7038689() {
    var $ = ml_jQuery || jQuery;
    $('.ml-subscribe-form-7038689 .row-success').show();
    $('.ml-subscribe-form-7038689 .row-form').hide();
  }
</script>
<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v1f25ee4b05f240a833e02c19975434a4" type="text/javascript" async defer></script>
<script is:inline>
    fetch("https://assets.mailerlite.com/jsonp/459944/forms/96558295907567305/track-view")
</script>