---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="WebDev Town | Websites For Free Icon Sets">
  <h2>Websites For Free Icon Sets</h2>
  <p>
    Explore a bunch of websites with loads of free icons for your projects.
    We've gathered these sites that offer cool icons without costing you a thing.
    Check them out - they're like little design treasures waiting for you!
  </p>


  ...coming soon
  <!-- here -->
</Layout>
