<div id="mlb2-5959351" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-5959351">
  <div class="ml-form-align-center">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <div class="ml-form-embedContent" style="">
          <p>Never miss a useful website again. Drop your email below and get a <u>weekly</u> summary straight into your inbox.</p>
        </div>
        <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/r2f1v0" data-code="r2f1v0" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
              </div>
            </div>
          </div>
          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">Subscribe</button>
            <button disabled="disabled" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
          </div>
          <input type="hidden" name="ml-submit" value="1">
          <input type="hidden" name="anticsrf" value="true">
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display:none">
        <div class="ml-form-successContent">
          <h4>Successfully subscribed!</h4>
          <p>Thanks for joining the newsletter! To receive the weekly emails, please confirm your subscription.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  h4 {
    margin-bottom: 0.5em;
  }
  .ml-subscribe-form {
    margin: 1rem 0 2rem;
  }

  .ml-subscribe-form p {
    margin: 0 0 1em;
    opacity: 0.75;
    font-size: 0.8em;
    max-width: 500px;
  }

  form {
    display: flex;
  }

  .ml-form-formContent {
    width: 50%;
    min-width: 200px;
    margin-right: 0.5em;
  }

  form input[type=email] {
    height: 2.625rem;
    line-height: calc(2.5rem);
    appearance: none;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
    border: 0.0625rem solid rgb(206, 212, 218);
    background-color: rgb(255, 255, 255);
    transition: border-color 100ms ease 0s;
    min-height: 2.625rem;
    padding-left: calc(0.875rem);
    padding-right: calc(0.875rem);
    border-radius: 0.25rem;
  }

  form button {
    padding: 0px 1.375rem;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 2.625rem;
    display: inline-block;
    width: auto;
    border-radius: 0.25rem;
    font-weight: 600;
    position: relative;
    line-height: 1;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    background-color: var(--accent-dark);
    color: rgb(255, 255, 255);
  }
  form button:hover {
    opacity: 0.8;
  }
</style>
<script is:inline>
  function ml_webform_success_5959351(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-5959351 .row-success").show(),r(".ml-subscribe-form-5959351 .row-form").hide()}
</script>
<script src="https://static.mailerlite.com/js/w/webforms.min.js?vd4de52e171e8eb9c47c0c20caf367ddf" type="text/javascript" async defer></script>