---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import adam from '../assets/adam.jpg';
import lucian from '../assets/lucian.jpg';
---
<Layout title="WebDev Town | Sponsorship">
  <h1>Become a Sponsor of WebDev Town</h1>
  <p>
    WebDev Town is a website + newsletter for web developer / designer and indie hacker.
  </p>
  <p>
    Do you have a product, ebook, or SaaS you want to promote?
    Pass me an email at <a href="mailto:info@webdev.town">info@webdev.town</a> if you are interested.
  </p><br/>

  <h3>What does it include?</h2>
  <div>📧 A prominent spot in the <a href="https://preview.mailerlite.com/h2i0o3y2o2" target="_blank" rel="noopener noreferrer">E-Mail newsletter</a>
    <ul>
      <li><b>600+</b> subscribers</li>
      <li>~ 45%-50%</b> Open rate</li>
      <li>CTR <b>~15%</b></li>
    </ul>
  </div>
  <div>🌐 A link on the landing page of <a href="https://webdev.town/" target="_blank" rel="noopener noreferrer">WebDev Town</a> for one week.</div>
  <div>🐤 A shoutout on <a href="https://twitter.com/wweb_dev/status/1585143891938115584" target="_blank" rel="noopener noreferrer">Twitter</a> to <b>900+</b> followers</div>

  <div class="quotes">
    <blockquote>
      ”Vincent's newsletter emphasizes quality over quantity, attracting dedicated and valuable subscribers to my newsletter. I highly recommend collaboration with him!”
      <p>
        <Image class="quote-image" src={adam} alt="Adam" width={30} height={30} />
        <span>Adam from <a href="https://unicornclub.dev">UnicornClub.dev</a></span>
      </p>
    </blockquote>
    <blockquote>
      ”It's my pleasure to sponsor the WebDev Town newsletter. Having my product featured in it brought relevant traffic my way and a healthy backlink.”
      <p>
        <Image class="quote-image" src={lucian} alt="Lucian" width={30} height={30} />
        <span>Lucian from <a href="https://devluc.com">devluc.com</a></span>
      </p>
    </blockquote>
  </div>

  <h3>How much is it?</h2>
  <p>
    It's <b>$30</b> for the whole package. With 30-50 estimated clicks this makes an estimated CPC of <b>$0.60 - $1</b>.
  </p>

  <p>
    If you have any questions feel free to reach out at <a href="mailto:info@webdev.town">info@webdev.town</a> or <a href="https://twitter.com/wweb_dev" target="_blank" rel="noopener noreferrer">Twitter</a>.
  </p>
</Layout>
<style>
  h3 {
    margin: 1.5em 0 0.25em;
  }

  .quotes {
    display: flex;
    gap: 2em;
    font-size: 0.8em;
    margin: 2em 0;
  }

  blockquote {
    padding: 1em;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1em;
    margin: 0;
  }

  blockquote p {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
  }

  blockquote p span {
    font-weight: 500;
  }

  .quote-image {
    border-radius: 100%;
  }

  @media screen and (max-width: 800px) {
    .quotes {
      flex-direction: column;
    }
  }
</style>