---
import Layout from '../layouts/Layout.astro';
---
<Layout title="WebDev Town | Submit a resource.">
	<div>
		<p>
			Do you want to share your latest web project or something that you found online?
			To be added to WebDev Town your resource should:
		</p>

		<ul>
			<li>be relevant for web developers / designers</li>
			<li>be free</li>
		</ul>

		<p>
			If you want to promote your startup or commercial project, you should take a look at the <a href="/sponsorship">sponsorship</a> option of the newsletter.
		</p>
	</div>

	<form id="submit-form">
		<h3>Submit Resource</h3><br/>
		<label for="link">Resource Link</label>
		<input id="link" placeholder="https://example.com/resource" type="text" required></input>

		<label for="email">Your email (optional)</label>
		<input id="email" placeholder="your-email@example.com" type="email"></input>

		<label for="message">Message (optional)</label>
		<textarea id="message" placeholder="Some additional infos for your resource"></textarea>

		<button type="submit" class="button">Submit</button>
	</form>
	<div class="container success hidden">
		<h3>Successfully submitted resource!</h3>

		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M0 0h24v24H0z"/><path fill="currentColor" d="M17 3.34a10 10 0 1 1-14.995 8.984L2 12l.005-.324A10 10 0 0 1 17 3.34zm-1.293 5.953a1 1 0 0 0-1.32-.083l-.094.083L11 12.585l-1.293-1.292l-.094-.083a1 1 0 0 0-1.403 1.403l.083.094l2 2l.094.083a1 1 0 0 0 1.226 0l.094-.083l4-4l.083-.094a1 1 0 0 0-.083-1.32z"/></g></svg>
	</div>
</Layout>
<style>
	form input, form textarea  {
		margin-bottom: 0.5em;
	}

	form button {
		margin-top: 1em;
	}

	form label {
		font-size: 0.8em;
	}

	form, .container {
		position: relative;
		width: 100%;
		max-width: 500px;
		margin: 2em auto;
		background-color: #23262d;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		padding: 1em;
		overflow: hidden;
	}
	.loading::before {
		display: block;
		position: absolute;
		content: '';
		z-index: 2;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.5);
	}
	.loading::after {
		display: block;
		content: '';
		z-index: 3;
		position: absolute;
		left: calc(50% - 25px);
		top: calc(50% - 25px);
		width: 50px;
		aspect-ratio: 1;
		border-radius: 50%;
		padding: 1px;
		background: conic-gradient(#0000, #00c6a7) content-box;
		mask: repeating-conic-gradient(
			#0000 0deg,
			#000 1deg calc(360deg/10 - 10deg - 1deg),
			#0000 calc(360deg/10 - 10deg) calc(360deg/10)
		), radial-gradient(
			farthest-side,
			#0000 calc(98% - 10px),
			#000 calc(100% - 10px)
		);
		mask-composite: intersect;
		-webkit-mask-composite: destination-in;
		animation: spin 1000ms infinite steps(10);
	}
	@keyframes spin { to { transform: rotate(1turn) } }

	.success {
		text-align: center;
	}
	.success h3 {
		text-align: left;
	}
	.success svg {
		color: green;
		width: 100px;
		height: 100px;
		margin: 2em 0 1em;
	}
	.hidden {
		display: none;
	}
</style>
<script>
	const submitForm = document.getElementById('submit-form')
	submitForm.addEventListener('submit', e => {
		e.preventDefault();
		submitForm.classList.add('loading')
		let values = {}
		for (let i = 0; i < e.target.elements.length; i++) {
			const element = e.target.elements[i];

			// Check if the element is an input or select element
			if (element.tagName === 'INPUT' || element.tagName === 'TEXTAREA') {
				values[element.id] = element.value
			}
    }

		fetch(import.meta.env.PUBLIC_API_URL, {
			method: 'POST',
			headers: {
        'Content-Type': 'application/json'
			},
			body: JSON.stringify(values),
		}).then(res => {
			submitForm.classList.add('hidden')
			document.querySelector('.success').classList.remove('hidden')
		})
	})
</script>