---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: #00C6A7;
		--accent-dark: #1E4D92;
		--accent-gradient: linear-gradient(57deg, var(--accent-light) 0%, var(--accent-dark) 100%)
	}
	html {
		font-family: system-ui, sans-serif;
		background: radial-gradient(circle, #000 0%, #232526 100%);
	}
	html::after {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.1;
		background-image: url(/whitenoise.jpg);
		z-index: -1;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
